[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
matplotlib = "*"
pillow = "*"
imageio = "*"
imageio-ffmpeg = "*"
scipy = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
