[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
matplotlib = "*"
pillow = "*"
scipy = "*"
pyyaml = "*"
tqdm = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
torchvision = "*"
click = "*"

[dev-packages]
tox = "*"
pytest-randomly = "*"
pytest-cov = "*"
black = "*"
isort = "*"
pylint = "*"
bandit = "*"
pydocstyle = "*"
darglint = "*"
mypy = "*"
safety = "*"
pre-commit = "*"
toml = "*"
flake8 = "*"
